@import
url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0; 
    padding: 0;
    display: flex;
}




button{
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}


.modal-buttons{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
}

.modal-open{
    height: 200px;
    width: 200px;
    background-color: transparent;
    
}

.modal-open img{
    width: 200px;
    height:  200px;
 
}

.btn-close {
    float: right;
    background-color: paleturquoise;
    color: black;
    
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}


.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #fff;

}

.modal-content img{
    width: 40%;
}
